<VirtualHost *:80>

	ServerAdmin {{ app_proprio }}
	DocumentRoot /applis/{{ nom_appli }}
	ErrorLog /logs/{{ nom_appli }}/{{ nom_appli }}_error.log
	CustomLog /logs/{{ nom_appli }}/{{ nom_appli }}_access.log combined
</VirtualHost>

<Directory /applis/{{ nom_appli }}>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>
